name: Update README

on:
  workflow_dispatch:
  push:
  schedule:
  - cron: "0 */1 * * *"

jobs:
  markscribe:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - uses: muesli/readme-scribe@master
      env:
        GITHUB_TOKEN: ${{ secrets.GH_PAT }}
      with:
        template: templates/README.tmpl.md
        writeTo: README.md

    - uses: actions/upload-artifact@v1
      with:
        name: README.md
        path: README.md

    - uses: stefanzweifel/git-auto-commit-action@v4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        commit_message: Update generated README
        branch: main
        commit_user_name: GitHub Actions
        commit_user_email: actions@github.com
        commit_author: GitHub Actions <actions@github.com>
